EAD/Assignment6/Assignment6C(SOAP)/Assignment7/WebContent/wsdl/Triangle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.soap.com" xmlns:intf="http://service.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getArea">
    <complexType>
     <sequence>
      <element name="side1" type="xsd:double"/>
      <element name="side2" type="xsd:double"/>
      <element name="side3" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAreaResponse">
    <complexType>
     <sequence>
      <element name="getAreaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAreaResponse">

      <wsdl:part element="impl:getAreaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAreaRequest">

      <wsdl:part element="impl:getArea" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Triangle">

      <wsdl:operation name="getArea">

         <wsdl:input message="impl:getAreaRequest" name="getAreaRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAreaResponse" name="getAreaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TriangleSoapBinding" type="impl:Triangle">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getArea">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAreaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAreaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TriangleService">

      <wsdl:port binding="impl:TriangleSoapBinding" name="Triangle">

         <wsdlsoap:address location="http://localhost:8080/Assignment7/services/Triangle"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
